.wrapper {
  background-image: url("../../assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; }
  .wrapper p {
    font-size: 1rem;
    margin-bottom: 0; }
  .wrapper .logo-header {
    padding: px(24) 0; }
  .wrapper .main .text_small_title {
    font-size: px(15);
    color: #FFD37E;
    text-align: center; }
  .wrapper .main .main_bet_number .main_bet_number_header {
    text-align: center; }
  .wrapper .main .bet_number_table {
    padding-top: px(50); }
    .wrapper .main .bet_number_table .item .number {
      color: #FFD37E;
      text-align: center;
      margin-bottom: 0; }
    .wrapper .main .bet_number_table .item .percent, .wrapper .main .bet_number_table .item .point {
      color: #EFBEBE; }
