.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.popup_status{
    display: none;
  width: 100%;
  height: 100%;
  .change_img{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
    width: 20%;
  }
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    z-index: 2;
  }
}

body {
  background-image: url("../../assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .logo-header {
    padding: px(24) 0;
  }

  .main {
    .text_small_title {
      font-size: px(15);
      color: #ffd37e;
      text-align: center;
    }

    .main_bet_number_header {
      text-align: center;
      margin-bottom: -1.6rem;
    }

    .main_bet_number {
      border: 2px solid #393a45;
      border-radius: 8px;
      padding: px(50) px(8) px(21);
    }

    .bet_number_table {
      // background: rgba(12, 12, 12, 0.25);
      // box-shadow: inset 0px 0px 15px #000000;

      .item {
        text-align: center;
        button{
          background-color: transparent;
          border: none;
          &:focus{
            outline: none;
          }
        }
        .images_item {
          position: relative;
        }
        .text_item {
          position: absolute;
          top: 45%;
          left: 47%;
          transform: translate(-50%, -50%);
        }
        .number {
          color: #ffd37e;
          text-align: center;
          margin-bottom: 0;
          @extend .mesi-bold;
        }

        .percent,
        .point {
          color: #efbebe;
          font-size: px(12);
          @extend .rokkitt;
          text-align: center;
        }

        // background-image: url("/src/assets/images/bg_gray.png");
        // width: 100%;
        // background-repeat: no-repeat;
        // height: 100%;
        // background-size: 100% 100%;
        // padding: 0.5rem 0;
      }
    }

    .unified_list {
      justify-content: space-between;
      padding-bottom: px(25);

      .unified_list_left,
      .unified_list_right {
        .item {
          @extend .rokkitt;
          text-transform: uppercase;

          .title {
            color: #d9aeae;
            margin: auto;

            p {
              font-size: px(14);
              @include screen1200{
                font-size: px(12);
              }
            }
          }

          .number {
            color: #ffffff;
            margin: auto;
            padding-left: px(17);

            p {
              font-size: px(13);
              @include screen1200{
                font-size: px(12);
              }
            }
          }
        }
      }
    }

    .bet_address {
      h2 {
        font-size: px(14);
        color: #ffd37e;
        @extend .mesi-bold;
      }

      p {
        font-size: px(13);
        color: #d9aeae;
        @extend .mesi;
      }
    }

    .qr_code {
      padding-top: px(21);

      .qr_icon {
        padding-right: px(10);
      }

      .qr_title {
        margin: auto 0;
        color: #d9aeae;
        @extend .mesi;
        font-size: px(13);
      }
    }

    .online_status{

    }
  }

  .main-right {
    margin-top: 1.6rem;
    @include screen992 {
      margin-top: 1rem;
    }
    ul {
      width: 100%;
      justify-content: space-evenly;
      @include ipad-mini{
        justify-content: space-between;
      }
      .nav-item {
        width: px(180);
        height: px(40);

        @include ipad {
          width: px(104);
        }


        .nav-link {
          text-align: center;
          color: #d6be90;
          background-image: url("/src/assets/images/background/backgound_title.svg");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          width: px(180);
          height: px(40);
          position: relative;
          z-index: 0;
          @extend .mesi-bold;
          font-size: px(18);

          @include ipad {
            width: px(104);
           padding :.5rem 0;
          }

          //  @include screen-500{
          //    width: 6.5rem;
          //  }

          p {
            @include ipad {
              font-size: px(12) !important;
              margin-top: .3rem;
            }
          }
        }

        .nav-link.active {
          position: relative;

          background-color: transparent;

          &::after {
            content: "";
            box-shadow: 3px 14px 98px -1px rgba(192, 150, 69, 0.73);
            -webkit-box-shadow: 3px 14px 98px -1px rgba(192, 150, 69, 0.73);
            -moz-box-shadow: 3px 14px 98px -1px rgba(192, 150, 69, 0.73);
            position: absolute;
            width: 90%;
            height: 100%;
            left: 5%;
            top: 0;
            z-index: 0;
            @include ipad {
              display: none;
              height: 78%;
            }
          }

          p {
            background: linear-gradient(
              to bottom,
              #fdf413 0%,
              #ffc977 50%,
              #c09645 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @extend .mesi-bold;
            font-size: px(18);

            @include ipad {
              font-size: px(14);
            }
          }
        }
      }
    }

    .list_main {
      margin-bottom: -2.4rem;
      @include ipad {
        margin-bottom: 0;
        margin-top: 1rem;
      }
    }

    .list_main_content {
      
      border: 2px solid #393a45;
      border-radius: 8px;
      padding: px(50) px(8) px(21);
      background-color: rgba(0, 0, 0, 0.25);
      @include ipad {
        border: none;
        padding: 0;
      }
      .item {
        @extend .rokkitt;
        .icon_click {
          display: none;
          position: absolute;
          right: 0;
          top: 0;
          padding: 0;
          @include ipad {
            display: block;
          }
        }
        table {
          border-collapse: collapse;
          margin: 0;
          padding: 0;
          width: 100%;
          table-layout: fixed;
          position: relative;
          
          

          @include ipad {
            border-collapse: unset;
          }

          thead {
            @include ipad {
              border: none;
              clip: rect(0 0 0 0);
              height: 1px;
              margin: -1px;
              overflow: hidden;
              padding: 0;
              position: absolute;
              width: 1px;
            }
          }

          tbody {
            height: fit-content;
            overflow-y: scroll;
            display: block;
            width: 100%;
            position: relative;
            @include ipad{
              padding-right: .5rem;
            }
            &::-webkit-scrollbar-track {
              // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              // border: 2px solid ;
              // border-image: linear-gradient(to bottom, #7A7369, #7A6969) 1 stretch;
            }

            &::-webkit-scrollbar {
              width: 10px;
              height: 10px;
            }

            &::-webkit-scrollbar-thumb {
              // position: relative;
              // background-color: red;
             background-image: url('../../assets/images/scrollbar.png');
             background-size: 100% 100%;
             background-repeat: no-repeat;
            }

            td {
              animation-duration: 2s;
              font-size: px(14);
              color: #ffffff;
              font-weight: 400;
              position: relative;
              &:first-child,
              &:nth-child(2) {
                color: #d9aeae;
              }
              @include ipad {
                display: block;
                font-size: px(16);
                text-align: left;
                padding-left: 50%;
                // padding-bottom: px(9);
                &::before {
                  content: attr(data-label);
                  position: absolute;
                  font-weight: bold;
                  font-size: px(14);
                  left: 10%;
                  color: #ffd37e;
                  font-family: "rokkitt";
                }
                &:not(:first-of-type) {
                  display: none;
                }
              }
            }

            td.result {
              display: inline-flex;
              width: 100%;
              justify-content: center;
              @include ipad {
                justify-content: space-between;
                display: none;
              }
              .image_status {
                margin: auto 0;
                padding-right: 0.5rem;
              }

              .text_status.win {
                color: #97c450;
              }

              .text_status.lose {
                color: #606060;
              }
            }
            
          }

          tr {
            position: relative;
            display: table;
            width: 100%;
            @include ipad {
              display: block;
              padding: px(8) px(16);
              border: 2px solid #393a45;
              border-radius: 8px;
              margin-bottom: px(8);
            }
          }
          caption {
            font-size: 1.5em;
            margin: 0.5em 0 0.75em;
          }

          th,
          td {
            text-align: center;
            padding: 0;
          }

          th {
            font-size: px(16);
            color: #ffd37e;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.activeCollap {
  td {
    display: block;
  }
}
// .active_number_bet{
 
// }
.shadow_active{
  box-shadow: 3px 14px 98px -1px rgba(192, 150, 69, 0.73);
            -webkit-box-shadow: 3px 14px 98px -1px rgba(192, 150, 69, 0.73);
            -moz-box-shadow: 3px 14px 98px -1px rgba(192, 150, 69, 0.73);
}
.online_status{
  margin: px(12) 0 px(118) 0;
  padding: px(9) px(21) ;
  color: #ffffff;
  background-color: rgba(0, 0, 0, .5);
  @extend .mesi-bold;
  .online-text{
    font-size: px(18);
    padding-right: px(71);
    span{
      color: #FFD37E;
    }
  }
  .total_bet_text{
    font-size: px(18);
    span{
      color: #FFD37E;
    }
  }

  @include ipad{
    margin: px(16) 0;
    justify-content: center;
  }
}
// .scrollbarTrack{
//   position: absolute!important;
//   right: 0;
//   background-color: transparent;
//   width: 6px!important;
//   height: 100%;
//   top: 0;
//   border: 2px solid ;
//   .scrollpane{
//     background-color: red;
//     width: 10px;
//     position: absolute;
//     left: -.2rem;
//     height: 10px;
//     display: block;
//     top: 0;
//   }
// }
// .scroll_bar_table{
//   width: 5px ;
//   height: 66%;
//   display: block ;
//   position: absolute ;
//   right: 1.7rem;
//   top: 7rem;
//   background-color: #000000;
//   border: 2px solid;
//   border-image: linear-gradient(to bottom, #7A7369, #7A6969) 1 stretch;
//   @include ipad{
//     right: 1.22rem;
//   }
// }

.input_submit{
  margin: auto;
.number_input{
  margin: auto;
  .bet_value{
    background: #e9ecef17;
      border: solid 3px #80808059;
      border-radius: 5px;
      color: #9ba4ad;
      padding-left: 5px;
      width: 100%;
      margin-bottom: 10px;
     
  }
}
  .submit{
    // position: relative;
    // &::after{
    //   content: "";
    //   position: absolute;
    //   z-index: 0;
    //   width: 50%;
    //   height: 50%;
    //   top: 50%;
    //   left: 50%;
    //   box-shadow: 3px 14px 98px -1px rgba(192, 150, 69, 0.73);
    // -webkit-box-shadow: 3px 14px 98px -1px rgba(192, 150, 69, 0.73);
    // -moz-box-shadow: 3px 14px 98px -1px rgba(192, 150, 69, 0.73);
    // }
    img{
      width: 50%;
      margin: auto;
      padding-top: .5rem;
      position: relative;
      z-index: 1;
      
    }a{
      width: 100%;
      height: 100%;
      &:focus{
        outline: none;
        border: none;
      }
    }
    
  }
}
.text_address_and_balance{
  padding-top: px(17);
  justify-content: space-around;
  .your_adress,.balance{
    p{
      @extend .mesi-bold;
      font-size: px(13);
      &:first-child{
        color: #FFD37E;
        margin-bottom: px(10);
      }
      &:nth-child(2){
        color: #EFBEBE;
      }
    }
  }
}
.contract_address{
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
 
  p{
    @extend .rokkitt;
    color: #d9aeae;
    padding: .5rem 1rem;
    font-size: px(14);
    span{
      color: #ffffff;
      padding: 1rem;
    }
  }
  
}