.no-padding{
    padding-left: 0!important;
    padding-right: 0!important;
  }

body{
    background-image: url('../../assets/images/background.png');
background-size: cover;
background-repeat: no-repeat;
background-position:center;
width: 100%;
height: 100%;
}
.wrapper{

p{
    font-size: 1rem;
    margin-bottom: 0;
}
.logo-header{
    padding: px(24) 0;

}
.main{
    .text_small_title{
        font-size: px(15);
        color: #FFD37E;
        text-align: center;
       
    }
    .main_bet_number_header{
        text-align: center;
        margin-bottom: -1.6rem;
    }
    .main_bet_number{
        border: 2px solid #393a45;
        border-radius: 8px;
        padding: px(50) px(8) px(21) px(8);
       
    }
    .bet_number_table{
      
        // background: rgba(12, 12, 12, 0.25);
        // box-shadow: inset 0px 0px 15px #000000;
        
        
        .item{
            .number{
               color: #FFD37E;
               text-align: center;
               margin-bottom: 0;
               @extend .mesi-bold;
            }
            .percent,.point{
                color: #EFBEBE;
                font-size: px(12);
                @extend .rokkitt;
                text-align: center;
            }

            background-image: url("/src/assets/images/bg_gray.png");
            width: 100%;
            background-repeat: no-repeat;
            height: 100%;
            background-size: 100% 100%;
            padding :.5rem 0;
        }
    }
    .unified_list{
        justify-content:space-between;
        padding-bottom: px(25);
        .unified_list_left,.unified_list_right{
            .item{
                @extend .rokkitt;
                text-transform: uppercase;
                .title{
                    color: #D9AEAE;
                    margin: auto;
                    p{
                        font-size: px(14);
                    }
                }
                .number{
                    color: #ffffff;
                    margin: auto;
                    padding-left: px(17);
                    p{
                        font-size: px(13);
                    }
                }
            }
        }
    }
    .bet_address{
        h2{
            font-size: px(14);
            color: #FFD37E;
            @extend .mesi-bold;
        }
        p{
                font-size: px(13);
                color: #D9AEAE;
                @extend .mesi;
        }
    }
    .qr_code{
        padding-top:px(21) ;
        .qr_icon{
            padding-right: px(10);
        }
        .qr_title{
            margin: auto 0;
            color: #D9AEAE;
            @extend .mesi;
            font-size: px(13);
        }
    }
}
}